version: "2"

services:
  db:
    image: mongo:4.2.2
    container_name: db-authentication
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ryutaro_akiya
      MONGO_INITDB_ROOT_PASSWORD: Haba#Nero_1219
      MONGO_INITDB_DATABASE: habanero
    ports:
      - 27017:27017
    command: mongod --auth
    volumes:
      - ./db/:/docker-entrypoint-initdb.d/