version: "2"

services:
  db:
    image: mongo:4.2.2
    container_name: db-authentication
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ryutaro_akiya
      MONGO_INITDB_ROOT_PASSWORD: Haba#Nero_1219
      MONGO_INITDB_DATABASE: habanero
    volumes:
      - ./db/:/docker-entrypoint-initdb.d/
    networks:
      - default
    ports:
      - 27017:27017
    command: mongod --auth
  api:
    image: api-authentication:latest
    container_name: api-authentication
    restart: always
    networks:
      - default
      - habanero-network
    ports:
      - 8080:80
    command: "java -server \
      -XX:+UnlockExperimentalVMOptions \
      -XX:+UseCGroupMemoryLimitForHeap \
      -XX:InitialRAMFraction=2 \
      -XX:MinRAMFraction=2 \
      -XX:MaxRAMFraction=2 \
      -XX:+UseG1GC \
      -XX:MaxGCPauseMillis=100 \
      -XX:+UseStringDeduplication \
      -jar api-authentication-0.1.jar \
      -config=resources/application.local.conf"

networks:
  habanero-network:
    external: true